<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Page Not Found</title>


    <link href="/static/css/bootstrap.css" rel="stylesheet">


    <style>
        body{
            background-image: url("/static/img/BG404.jpg");
        }
        h1{
            margin-top: 70px;
            letter-spacing: 3px;
            font-size:800%;
            font-weight: 900;
        }
        h3 {
            color: #525150;
            font-weight: 300;
            margin: 5px 0;
        }
        .btn{

            margin-top: 50px;
            font-weight: bold;
        }
        </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body >

<div class="text-center">
    <h1>404</h1>
    <br>
    <h3>糟糕，访问出错！</h3>
    <a href="{% url 'index' %}" class="btn btn-primary" role="button">好吧，我要返回首页</a>
</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>