<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>线上成果交易平台</title>
    <!-- Bootstrap -->

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/update.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="feedback">

<div class="container-fluid">
    <div class="row">

        <h1 class="text-center" >反馈留言</h1>
        <h4 class="text-center">感谢您花费几分钟在此填写反馈，以便我们为您提供更好的服务。 </h4>
        <div class="panel panel-default">
            <div class="panel-body">




                <div >
                    
                        <h5>请您对我们的产品/服务的满意程度作出评价</h5>
                        <ul >
                            <li><input type="radio" name="view" id="excellent">
                                <label for="excellent">很棒⭐⭐⭐⭐⭐</label>
                            </li>
                            <li><input type="radio" name="view" id="good" checked="checked">
                                <label for="good">还行⭐⭐⭐</label>
                            </li>
                            <li><input type="radio" name="view" id="neutral">
                                <label for="neutral">一般⭐</label>
                            </li>
                            <li><input type="radio" name="view" id="poor">
                                <label for="poor">较差</label>
                            </li>

                        </ul>
                        <h5>如果你有独特的建议与想法，请在此处为我们留言...</h5>
                    <form action="/feedback/" method="post" >
                        <div role="tabpanel" class="tab-pane fade in active" id="feedback">
                        <input placeholder="我建议..." type="text" class="jianyi" name="jianyi" id="jianyi" required=""/>
                        <input type="text" class="login-field" name="xingming" id="xingming" placeholder="姓名" required="" />
                        <input type="email" placeholder="邮箱" name="emailfeedback" id="emailfeedback" required=""/>
                        <input type="submit" class="btn btn-primary btn-large btn-block" value="确 定"/>
                        <a href="{% url 'index' %}" class="link pull-right">返回首页</a>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>



            </div>
        </div>

    </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>