<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- <head> -->
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模态框</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script> -->
<!-- </head> -->

<body style="background-image:url(http://pic.58pic.com/58pic/14/78/54/98a58PICCQf_1024.jpg);">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div style="margin:0px 100px 10px 550px">
                        <h4 class="modal-title" id="myModalLabel">
                            <a href="#">

                                <style>
                                    h3 {
                                        font-size: 50px;
                                        color: black;
                                    }
                                </style>
                                <!-- <h3 class="post-ttl">服务协议</h3> -->
                                <h3> </h3>
                            </a>


                        </h4>
                    </div>
                </div>
                <!-- <div class="modal-body">
                    <p align="center">
                        <textarea class="form-control" rows=8 style="color:black font-size:5px" readonly="true" /> 凡在本网站购买科技成果，购买前请与卖家商议，商议成功后采用一次性买断的方式，需签订三方协议，后期不涉及侵权行为，若未经允许私下购买，后期一切侵权后果由买家负责。
                        </textarea>
                    </p>
                </div> -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-md-offset-3">
                            <div class="sign text-center">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div style="margin:300px 20px 20px 200px">
                                            <h3>请与卖家联系并在安全的环境下交易，交易过程中出现任何问题由买家负全责。</h3>
                                            <!-- <p><a href=" {% url 'index' %} ">返回首页</a> <span class="divider ">|</span> <a href="{% url 'feedback' %} ">继续反馈</a></p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .row -->
                </div>
                <div class="modal-footer">
                    <p align="center">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">确定</button> -->
                        <a font-size:30px;type="submit" href={% url 'shoppingcart' %} class="btn btn-primary btn-large btn-block" value="确 定" type="button">确定</a>
                        <!-- <button type="submit" href={% url 'shoppingcart' %} class="btn btn-primary btn-large btn-block" value="确 定" type="button" ">确定</button> -->
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>