<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width:device-width,initial-scale=1" />
    <meta name="keywords" content="独景，旅游，博客" />
    <meta name="description" content="">
    <meta name="author" content="">
 

    <!--   Le Styles  -->
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/custom.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.css">



</head>

<body class="e-mail">

<!-- Wrapper -->
<div class="wrapper">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="sign text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>邮件发送成功，请到邮箱查收......</h3>
                            <h5>请注意，QQ邮箱可能存在发送失败情况</h5>
                            <h5>建议您使用除QQ邮箱外其他邮箱</h5>
                            <p><a href="/">返回首页</a> <span class="divider">|</span> <a href="{% url 'login' %}">进行登录</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->


</body>
</html>
